/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


html {
	--card-height: 200px;
	--card-width: 200px;
	--card-padding: 12px;
}

body {
	margin: 0;
	background-color: #3a7eff;
	color: white;
	font-family: 'Indie Flower', cursive;
}

main {
	/* min-height: 100vh; */
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin: 1.6rem;
}

p, button {
	font-size: 2rem;
}

p {
	margin: 2px;
}

.game {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.card {
	/* background-color: #fff; */
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
	position: relative;
	margin: 16px;
	padding: var(--card-padding);
	/* border: 1px solid rgba(146, 146, 146, .5); */
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 8px;
	height: var(--card-height);
	width: var(--card-width);
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.card > div {
	height: 100%;
	width: 100%;
}

.background > img {
	height: 100%;
	width: 100%;
	/* object-fit: cover; */
}

.reveal {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.pokemon {
	z-index: 5;
	position: absolute;
	-webkit-backface-visibility: hidden;
  backface-visibility: hidden;
	top: var(--card-padding);
	height: var(--card-height);
	width: var(--card-width);
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	/* background-color: rgb(110, 173, 255); */
	background-color: rgb(255, 255, 255);
}

/* Bouton */
button {
	/* background-color: #fff; */
	background-color: #fd9800;
	font-family: 'Indie Flower', cursive;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
}

#play:active {
	background-color: #fd9800dd;
}

/* Modal */
.modal-container {
	/* display: hidden; */
	visibility: hidden;
	z-index: 2;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-container > .modal {
	padding: 1rem 2rem;
	border-radius: 8px;
	font-size: 2.5rem;
	background-color: #fff;
	color: black;
}

.modal p {
	text-align: center;
}